
DATABASE_URL="postgresql://postgres:TU_PASSWORD@db.XXXX.supabase.co:5432/postgres"

AUTH_SERVICE_PORT=3001
USER_SERVICE_PORT=3002
SERIES_SERVICE_PORT=3003
SEASON_SERVICE_PORT=3004
EPISODE_SERVICE_PORT=3005
REVIEW_SERVICE_PORT=3006
COMMENT_SERVICE_PORT=3007
