GATEWAY_PORT=3000
FRONTEND_URL=http://localhost:5173

# URLs de los servicios (en desarrollo usan localhost)
AUTH_SERVICE_URL=http://localhost:3001
USER_SERVICE_URL=http://localhost:3002
SERIES_SERVICE_URL=http://localhost:3003
SEASON_SERVICE_URL=http://localhost:3004
EPISODE_SERVICE_URL=http://localhost:3005
REVIEW_SERVICE_URL=http://localhost:3006
COMMENT_SERVICE_URL=http://localhost:3007
